<<<<<<< HEAD
h1{
    color: white;
    background-color: rgb(64, 41, 70);
    text-align: center;
    font-size: 6rem;
    font-family: 'Sacramento', cursive;
=======
@import "./_variables.scss";
.header{
    background-color: pink ;
>>>>>>> 6c7cb78df6ef4d3db216e89d365c5ea7797a682e
}