$colors:(
primary: #3b2547,
lighter: rgb(86, 70, 100),
darker:#230b31,
accent: #685374,
title: rgb(154, 137, 170)
);

$padding: 1.3rem; 
@function color($color-name){
    @return map-get($colors, $color-name);
}