@import "./_variables.scss";
@import "./_header.scss";
@import "./_about.scss";


body{
    background-color: rgba(color(primary), 0.4);
}
.flex-parent{
    background-color: rgb(85, 43, 116);
    height: 60vh;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
}
.flex-child{
    background-color:s rgb(152, 99, 177);
    margin: 10px;
    height: 20vh;
    color: rgb(0, 0, 0);
    font-size: 5rem;
    text-align: center;
    font-family: 'Squada One', cursive;
}
#flex-grow-1{
    display: flex;
    justify-content: space-evenly;
}
#flex-grow-2{
    flex-grow: 2;
}
.flex-sm{
    background-color:rgb(179, 141, 214);
    font-size: 2rem;
<<<<<<< HEAD
    font-family: 'Righteous', cursive;
    color: darkblue;
    text-transform: none;
    word-spacing: normal;
    justify-content: flex-start;
=======
    font-family: 'Karma', serif;
>>>>>>> parent of 9ae9d48... flexbox
}