@import "./_variables.scss";
@import "./_header.scss";
@import "./_about.scss";

body{
    background-color: rgba(color(primary), 0.4);
    background-color: rgb(85, 43, 116);
}
.flex-parent{
    background-color:rgb(122, 86, 156);
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.future{
    color: red;
}
.flex-child{
    margin: 10px;
    height: 20vh;
    color: rgb(0, 0, 0);
    font-size: 5rem;
    text-align: center;
    font-family: 'Squada One', cursive;
}
#flex-grow-1{
    display: flex;
    
    justify-content: space-evenly;
}
#flex-grow-2{
    flex-grow: 2;
}
.flex-sm{
    font-size: 2rem;
    font-family: 'Righteous', cursive;
    color: darkblue;
    text-transform: none;
    word-spacing: normal;
    background-color:rgb(179, 141, 214);
    
}